/* Header */
header {
	background: var(--bg);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: 0.6s;
	padding: 40px 80px;
	z-index: 5;

	.logo {
		position: relative;
		font-weight: 600;
		color: var(--line);
		text-decoration: none;
		font-size: 1.65rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		transition: 0.6s;

		&:hover {
			filter: brightness(0.7);
		}
	}

	#mobile-menu {
		display: none;
		cursor: pointer;

		div {
			width: 32px;
			height: 2px;
			background: whitesmoke;
			margin: 8px;
			transition: 0.3s;
		}
	}

	ul {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			position: relative;
			list-style: none;

			a {
				position: relative;
				margin: 0 15px;
				text-decoration: none;
				color: var(--line);
				letter-spacing: 1.3px;
				font-weight: 500;
				transition: 0.6s;

				transition: filter 0.5s;

				&:hover {
					filter: brightness(0.7);
					border-bottom: 1px solid var(--line);
				}
			}
		}
	}

	&.sticky {
		padding: 15px 80px;
		background-color: whitesmoke;

		a, .logo {
			color: var(--bg);
		}
	}
}

/* Main - container*/
main {
	max-width: 1500px;
	margin: 0 auto;
}

/* About section */
#sobre {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 80px;
	padding-top: 210px;
	padding-bottom: 110px;

	.left-section {

		h1 {
			color: var(--line);
			font-weight: 500;
			letter-spacing: 2.5px;
			font-size: 3rem;
		}

		h2 {
			color: gray;
			letter-spacing: 1px;
		}

		.contact {
			margin-top: 1rem;
			margin-bottom: 1.5rem;
			padding-bottom: 1.5rem;
			text-decoration: underline;
			border-bottom: 1px solid var(--line);

			p {
				font-family: 'Lexend', sans-serif;
				letter-spacing: 1px;
				color: lightgrey;
			}
		}

		.icons {
			display: flex;
			justify-content: flex-start;
			margin-top: 1.5rem;
			gap: 3rem;

			.social-icon {
				color: white;
				border: 1px solid white;
				padding: 0.65rem 0.75rem;
				border-radius: 100%;

				transition: 0.5s;

				&:hover {
					color: var(--bg);
					border: 1px solid var(--bg);
					background-color: white;
				}
			}
		}


	}

}

/* Projects section */
#projetos {
	padding: 0 80px;
	padding-top: 110px;
	padding-bottom: 110px !important;
	background-color: var(--bg);


	h1 {
		text-align: center;
		color: lightgrey;
	}

	.cards {
		display: flex;
		margin-top: 1.5rem;
		gap: 1.5rem;

		.card {
			background-color: var(--dark-bg);
			width: 100%;
			height: 100%;
			padding: 0.75rem;
			border: 1px solid transparent;
			border-radius: 0.5rem;


			transition: 0.9s;

			&:hover {
				background-color: var(--bg);
				// border: 1px solid var(--dark-bg);
				// box-shadow: 5px 10px 5px 10px var(--dark-bg);
				box-shadow: 0px 2.5px 3px 1.5px #000000, 5px 5px 15px 5px rgba(250,250,250,0);
			}
			
			h2 {
				margin-top: 1rem;
			}

			p {
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
				text-align: justify;
				filter: brightness(0.7);
			}

			a {
				text-decoration: none;
				color: var(--normal-blue);
				transition: filter 0.6s;

				&:hover {
					filter: brightness(0.8);
					text-decoration: underline;
				}
			}

			/* Estilos na imagem para deixar ela adaptável */
			img {
				max-width: 100%;
				height: auto;
				border-bottom: 1px solid gray;
				padding-bottom: 0.75rem;
			}
		}
	}

	.more-projects {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 4rem;

		a {
			padding: 0.5rem 2rem;
			border-radius: 2rem;
			border: 1px solid var(--bg);
			text-decoration: none;

			background: var(--dark-bg);
			color: var(--normal-blue);

			transition: 0.8s;

			&:hover {
				background: var(--bg);
				border: 1px solid var(--dark-bg);
			}
		}
	}
	
}

/* Formation section */
#formacao {
	padding: 0 80px;
	padding-top: 110px;
	padding-bottom: 110px;
	background-color: var(--dark-bg);

	div h1 {
		text-align: center;
	}

	.first-row {
		margin-top: 12.5%;
		display: flex;
		justify-content: space-between;

		div i {
			color: whitesmoke;
			font-size: 5rem;
			margin-left: 1.5rem;
		}

		h2 {
			border-bottom: 1px solid var(--line);
			padding-bottom: 0.2rem;
		}

		h3, h4 {
			font-weight: 500;
			color: grey;
			padding-top: 0.3rem;
		}
	}

	.second-row {
		margin-top: 12.5%;
		display: flex;
		justify-content: space-between;

		div i {
			color: whitesmoke;
			font-size: 5rem;
			margin-right: 1.5rem;
		}

		.second-row-school {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		h2 {
			border-bottom: 1px solid var(--line);
			padding-bottom: 0.2rem;
		}

		h3, h4 {
			font-weight: 500;
			color: grey;
			padding-top: 0.3rem;
		}
	}
}

/* Skills section */
#habilidades {
	padding: 0 80px;
	padding-top: 110px;
	padding-bottom: 110px;
	background-color: var(--bg);

	h1 {
		text-align: center
	}

	h2 {
		text-align: center;
		padding-top: 110px;
	}

	.skills {
		display: flex;
		justify-content: space-between;
		padding-top: 5rem;
		flex-direction: column;

		.row-skills {

			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 1rem 2rem;
			
			div {
				background: var(--dark-bg);

				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-direction: column;

				border: 1px solid grey;
				height: 10rem;
				width: 10rem;
				padding: 5rem;
				border-radius: 1.33rem;
			}
		}

		div {

			a {
				text-decoration: none;
			}

			i {
				color: whitesmoke;
				padding-bottom: 1rem;
			}

			p {
				filter: brightness(0.8);
				transition: filter 0.8;

				&:hover {
					filter: brightness(1);
				}
			}

			p, i {
				font-size: 1.65rem;
				padding-right: 0.5rem;
			}
		}
	}
}