@charset "UTF-8";
/* Header */
header {
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 80px;
  z-index: 5;
}
header .logo {
  position: relative;
  font-weight: 600;
  color: var(--line);
  text-decoration: none;
  font-size: 1.65rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header .logo:hover {
  filter: brightness(0.7);
}
header #mobile-menu {
  display: none;
  cursor: pointer;
}
header #mobile-menu div {
  width: 32px;
  height: 2px;
  background: whitesmoke;
  margin: 8px;
  transition: 0.3s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: var(--line);
  letter-spacing: 1.3px;
  font-weight: 500;
  transition: 0.6s;
  transition: filter 0.5s;
}
header ul li a:hover {
  filter: brightness(0.7);
  border-bottom: 1px solid var(--line);
}
header.sticky {
  padding: 15px 80px;
  background-color: whitesmoke;
}
header.sticky a, header.sticky .logo {
  color: var(--bg);
}

/* Main - container*/
main {
  max-width: 1500px;
  margin: 0 auto;
}

/* About section */
#sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  padding-top: 210px;
  padding-bottom: 110px;
}
#sobre .left-section h1 {
  color: var(--line);
  font-weight: 500;
  letter-spacing: 2.5px;
  font-size: 3rem;
}
#sobre .left-section h2 {
  color: gray;
  letter-spacing: 1px;
}
#sobre .left-section .contact {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  text-decoration: underline;
  border-bottom: 1px solid var(--line);
}
#sobre .left-section .contact p {
  font-family: "Lexend", sans-serif;
  letter-spacing: 1px;
  color: lightgrey;
}
#sobre .left-section .icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
  gap: 3rem;
}
#sobre .left-section .icons .social-icon {
  color: white;
  border: 1px solid white;
  padding: 0.65rem 0.75rem;
  border-radius: 100%;
  transition: 0.5s;
}
#sobre .left-section .icons .social-icon:hover {
  color: var(--bg);
  border: 1px solid var(--bg);
  background-color: white;
}

/* Projects section */
#projetos {
  padding: 0 80px;
  padding-top: 110px;
  padding-bottom: 110px !important;
  background-color: var(--bg);
}
#projetos h1 {
  text-align: center;
  color: lightgrey;
}
#projetos .cards {
  display: flex;
  margin-top: 1.5rem;
  gap: 1.5rem;
}
#projetos .cards .card {
  background-color: var(--dark-bg);
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  border: 1px dashed gray;
  border-radius: 0.75rem;
  /* Estilos na imagem para deixar ela adaptável */
}
#projetos .cards .card h2 {
  margin-top: 1rem;
}
#projetos .cards .card p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: justify;
  filter: brightness(0.7);
}
#projetos .cards .card a {
  text-decoration: none;
  color: var(--normal-blue);
  transition: filter 0.6s;
}
#projetos .cards .card a:hover {
  filter: brightness(0.8);
  text-decoration: underline;
}
#projetos .cards .card img {
  max-width: 100%;
  height: auto;
}

/* Formation section */
#formacao {
  height: 100vh;
  padding: 0 80px;
  padding-top: 110px;
  background-color: var(--dark-bg);
}

/*# sourceMappingURL=content.css.map */
